*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: darkred;
  user-select: none;
}

.wrapper {
  margin: auto;
}

.panel {
  display: grid;
  grid-template-areas: "a a a a"
    "b c c c";
}

.input {
  grid-area: a;
  width: 100%;
  height: 5vh;
  font-size: xx-large;
  justify-self: center;
  outline: none;
}

.operator,
.operand, #dot, #count {
  width: 100%;
  height: 5em;
  border: 3px solid #000000;
}

.operator:hover,
.operand:hover, #dot:hover, #count:hover {
  cursor: pointer;
  border-radius: 40%;
  width: 90%;
  height: 65%;
  border: 2px solid darkred;
  transition: ease-in-out .2s;
  box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.75);
  justify-self: center;
  outline: none;
}

.panel {
  display: inline-grid;
  grid-template-columns: 2fr 1.5fr;
  grid-column-gap: 1.5em;
  background-color: white;
  border-radius: 50%;
  width: 50vw;
  height: 100%;
  padding: 10em;
  border: 6px solid black;
  align-items: center;
}

.operand-panel,
.operator-panel {
  display: grid;
  grid-column-gap: .5em;
  grid-template-rows: repeat(4, 6em);
  align-items: center;
}

.operand-panel {
  grid-area: b;
}

.operator-panel {
  grid-template-columns: repeat(auto-fill 2, 5em);
  width: 100%;
  height: 28vh;
  align-self: flex-start;
  grid-area: c;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}
#dot {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 100%;
}

.result {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
}
/* .result {
  display: none;
  width: 100%;
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
input[type='number'] {
  -moz-appearance: textfield;
}