*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  transition: all .5s;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Comic Sans MS, 'Gill Sans MT', sans-serif;
  width: 100%;
  height: 100%;
}

button {
  border-radius: 6px;
  border: 1px solid #F7941E;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #F7941E;
  line-height: 1.375em;
  height: 3em;
  width: 13em;
}
.head-but>button {
  color: #F7941E;
  background-color: transparent;
}
.main-button>button:hover,
.learn-button>button:hover {
  background-color: #F7941E;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  border: 2px solid #000000;
  background-color: #de0000;
  color: white;
}

p {
  line-height: 1.4em;
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2em;
}

.hero-side {
  width: 100%;
}

h1,
h3,
h2 {
  font-weight: 800;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
  font-weight: 500;
}

.more {
  cursor: pointer;
  font-size: .9em;
  font-family: Roboto;
  margin: 3em 0 1.5em;
}
.more:hover {
  display: block;
  transform: translateX(10em);
  transition: all 2s step-end;
}
.card-more, .occasion {
  transform: translateX(1.5em);
}

.blog-post-left,
.card-shadow {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

/* header styles */
header {
  width: 100%;
  min-width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.header-section {
  display: inline-flex;
  margin: 1.8em;
}

.header-item,
.link {
  margin-left: 1.5em;
  padding-left: 1em;
}
.logo {
  cursor: pointer;
}

/* article styles */
main {
  background: #F1F1F2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.main-col-left,
.main-col-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 1.5em;
}

.main-col-left,
.main-col-right {
  display: contents;
}

/* gift card section ebuchaya*/

.gift-card-sec {
  display: contents;
}

.gift-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: space-between;
}

.gift-header>h2 {
  margin: 2.3em;
}

.gift-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  background-color: #FAFAFA;
  height: 25rem;
  margin: 0;
  width: 15em;
}

.gift-card-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5em;
  height: 35em;
  width: 5em;
  justify-content: space-evenly;
  align-self: center;
  margin: 0 auto;
  transform: translate(0, 4em);
}

.occasion {
  text-transform: capitalize;
  font-size: 1.1em;
  margin-top: .5em;
}

/* orange section */
.orange {
  background: #F7941E;
  height: 23vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.orange-headers {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  font-size: 1.2em;
}

/* orange buttons */
.find-btn {
  background-color: #000000;
  color: white;
  transform: translateX(-4em);
}

.how-btn {
  color: #000000;
  background-color: transparent;
  border: 1px solid #000000;
  margin-left: 1.5em;
  transform: translateX(-4em);
}

.find-btn:hover,
.how-btn:hover {
  background-color: white;
  color: #000000;
  cursor: pointer;
  border: none;
  transition: all 0.8s ease-out;
}

/* blog section */
.blog {
  display: flex;
  background-color: #231F20;
  padding: 5rem;
  margin: auto;
  width: 70vw;
  height: 36.7vh;
  align-items: center;
  margin-top: 6em;
}

.blog-content {
  height: 28vh;
  flex-direction: column;
  align-items: baseline;
  align-content: space-around;
  color: white;
}

.blog-img {
  transform: translateX(-5em);
  height: 36.7vh;
}

.blog-content>span {
  display: block;
  font-size: .9em;
  margin: 1em 0 2em auto;
}

.blog-content>h2 {
  margin: 3rem 0 7rem;
  font-size: 2em;
  width: 18vw;
  line-height: 1.3em;
}

.blog-content>a {
  display: block;
  color: white;
}

/* blog post section */

.blog-post {
  display: grid;
  margin: 0 auto 5em;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  width: 60vw;
  height: 35vh;
  align-items: space-evenly;
  justify-content: center;
}

.blog-post-right,
.blog-post-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 27vw;
  margin-top: 4em;
}

.blog-post-right>p,
.blog-post-left>p {
  padding-bottom: 1.2em;
}

.blog-post-right>span {
  padding-bottom: .8em;
}

.blog-post-header {
  font-weight: 800;
}

.blog-post-paragraph {
  margin: 1.5em auto 1em;
}

/* footer section */

footer {
  display: inline-flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  height: 10vh;
  background-color: #FAFAFA;
}
.footer {
  background-color: #FAFAFA;
}
.footer-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 0 auto;
  width: 50%;
  transform: translateY(3em);
}

hr {
  transform: translateY(7em);
  width: 55%;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 15%;
  height: 5vh;
  transform: translateY(9em);
}
.soc:hover {
  cursor: pointer;
}

.terms {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 100%;  
  transform: translateY(11em);
}

.terms>a {
  font-size: 1em;
}

.space {
  width: .4em;
  display: inline-block;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  *, *:before, *:after {
    box-sizing: border-box;
    font-size: .8em;
  }
  html {
    padding: 0 auto;
  }
  .wrap {
    width: 90%;
    margin: 0 auto;
  }
  body {
    display: contents;
    font-size: 1.1em;
    transform: scale(.6);
    }

  .header-section {
    width: 50%;
  }
  .logo {
    width: 35px;
    height: 5px;
  }
  .gift-header {
    align-self: flex-start;
    margin: 0 auto;
  }
  .gift-card-sec {
    height: 30em;
    /* transform: translateY(30em); */
  }
  .gift-card-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 9em;
  }
.orange {
  transform: translate(0, 20em);
  margin: 0 auto;
}
.orange-headers {
  align-items: center;
}
.orange-buttons {
  transform: translate(4em, 0);
}
.blog-header {
  transform: translate(0, 19em);
}
.blog {
  transform: translate(0, 18em);
}
.blog-post {
  transform: translate(0, 19em);
  margin: 0 auto;
}
.footer {
  transform: translate(0, 25em);
  background-color: #FAFAFA;
}
.footer-social {
  display: flex;
  justify-content: space-between;
}
}