* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  
  body {
    font-family: Comic Sans MS, 'Gill Sans MT', sans-serif;
    width: 100%;
    height: 100%;
  }
  
  button {
    border-radius: 5px;
    border: 1px solid #F7941E;
    text-align: center;
    text-transform: uppercase;
    font-size: .9em;
    color: #F7941E;
    line-height: 22px;
    height: 35px;
    width: 140px;
  }
  
  a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
  }
  img {
    width: 100%;
  }
  h1, h3 {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 600;

  }
  
  /* header styles */
  header {
    width: 100%;
    min-width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border: 1px solid red;
  }
  
  .header-section {
    display: inline-flex;
    margin: 30px;
  }
  
  .header-item,
  .link {
    margin-left: 1.5em;
  }
  
  .header-button>button {
    color: #F7941E;
    background-color: #fafafa;
  }
  
  .main-button>button:hover , .learn-button>button:hover {
    color: #fafafa;
    background-color: #F7941E;
    cursor: pointer;
  }
  
  .logo {
    cursor: pointer;
  }
  
  @media screen and (max-width: 375px) {
    header {
      display: inline-flex;
      align-items: center;
      transform: scale(0.5);
    }
  }
  
  /* article styles */
  main {
    background: #F1F1F2;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .main-col-left, .main-col-right {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    
  } 
  
  .item {
    max-width: 50%;
    line-height: 1.2em;    
    margin: 0 auto; 
    margin-top: 1.5em;
    
 } 
  